body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    height: 2.5em; /* Zvýšení výšky vstupních polí */
    font-size: 1.2em; /* Zvětšení textu ve vstupních polích */
}

select {
    height: 2.5em; /* Zvýšení výšky rozbalovacích nabídek */
    font-size: 1.2em; /* Zvětšení textu v rozbalovacích nabídkách */
}

button {
    padding: 10px 15px; /* Zvýšení výšky tlačítek */
    font-size: 1.2em; /* Zvětšení textu v tlačítkách */
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#result-container {
    text-align: left;
    margin-top: 20px;
}

#table-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-row span,
.table-row button {
    margin-left: 10px;
}

#copy-table {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#total-container {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}
